/* TODO: Make it awesome */

html{
    font-size: 62.5%;
}
title{
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 0.5em;
}
header{
    text-align: center;
    margin-bottom: 1em;
    text-size-adjust: none;
    font-size: large;
}
body{
    font-size: 1.2em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
}
body{
    font-size: 1.4em;
    font-family: 'Open Sans', sans-serif;
    background-color: #f5f5f5;
}
li{
    list-style: none;
    background-color: rgb(137, 137, 208);
}
